@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 50px;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
}
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
}

button {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: bold;
}

ul {
  font-family: "Raleway";
  font-weight: bold;
}

.navbar-brand {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
}

footer a {
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 18px;
}

.newsletter h2 {
  width: 250px;
  height: 50px;
}
.newsletter p {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  width: 250px;
}

.d-none {
  display: none;
}

nav {
  height: 125px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  width: 418px;
  overflow: hidden;
}
nav ul li {
  float: left;
}
@media (max-width: 600px) {
  nav ul li {
    float: none;
  }
}
nav ul li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #0C0910;
}
@media (max-width: 600px) {
  nav ul {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  nav ul {
    width: 390px;
  }
}
@media (max-width: 600px) {
  nav {
    height: auto;
    display: block;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  nav {
    height: 70px;
  }
}
nav .navbar-brand {
  display: flex;
  background-color: #0C0910;
  color: white;
  height: 125px;
  width: 125px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
@media (max-width: 600px) {
  nav .navbar-brand {
    height: 60px;
    width: 60px;
    font-size: 18px;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  nav .navbar-brand {
    height: 70px;
    width: 70px;
    font-size: 20px;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  nav .navbar-brand__logo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
@media (max-width: 600px) {
  nav .navbar-brand__logo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
nav button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  height: 40px;
  width: 40px;
  border: 0;
}

#navToggle {
  display: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media (max-width: 600px) {
  #navToggle {
    display: block;
  }
}

footer .container {
  display: flex;
  height: 245px;
}
footer .container .newsletter {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #0C0910;
  color: white;
  width: 100%;
}
footer .container .newsletter h2 {
  margin-left: 10%;
}
footer .container .newsletter input {
  margin-left: 10%;
}
footer .container .newsletter p {
  margin-left: 10%;
}
@media (max-width: 600px) {
  footer .container {
    height: 150px;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  footer .container {
    height: 200px;
  }
}
footer .suscribe {
  transform: rotate(90deg) translateX(-125px);
  margin-top: auto;
  width: 50px;
}
footer .suscribe a {
  text-decoration: none;
  color: #0C0910;
}
@media (max-width: 600px) {
  footer .suscribe {
    transform: rotate(90deg) translateX(-75px);
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  footer .suscribe {
    transform: rotate(90deg) translateX(-95px);
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .hero {
    height: 222px;
  }
}
.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  height: calc(100vh - 125px);
}
@media (min-width: 600px) and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  aside {
    margin-top: 25px;
  }
}

article {
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 50px;
}
article p {
  line-height: 1.5;
  margin-right: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  article p {
    margin-right: auto;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  article p {
    margin-right: auto;
  }
}
article button {
  padding: 16px 32px;
  background-color: white;
  border: 1px solid black;
}
@media (max-width: 600px) {
  article button {
    margin-bottom: 15px;
    padding: 10px 20px;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  article button {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  article {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10%;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  article {
    margin-top: 65px;
  }
}

.hero img {
  height: 100%;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .hero img {
    height: 261px;
    object-fit: cover;
    width: 100%;
    object-position: 0 30%;
  }
}
@media (max-width: 600px) {
  .hero img {
    height: 222px;
    object-fit: cover;
    width: 100%;
    object-position: top;
  }
}

input {
  width: 250px;
  border: 0px;
  background-color: white;
  padding: 15px;
}
input::placeholder {
  color: #0C0910;
}

/*# sourceMappingURL=style.css.map */
