footer {

    .container {
        display: flex;
        height: 245px;



        .newsletter{
            
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            background-color: $c-secondary;
            color: $c-primary;
            width: 100%;

            h2{
                margin-left: $margin-l;
            }
            input {
                margin-left: $margin-l;
            }
            p{
                margin-left: $margin-l;
            }
            
        }
        @include screen-sm{
            height: 150px;
        }
        @include screen-m{
            height: 200px;
        }
    }
    .suscribe {
        transform: rotate(90deg) translateX(-125px);
        margin-top: auto;
        width: 50px;
        a{
            text-decoration: none;
            color: $c-secondary;
        }
        @include screen-sm{
            transform: rotate(90deg) translateX(-75px);
        }
        @include screen-m{
            transform: rotate(90deg) translateX(-95px);
        }
    }
}