nav {
    height: 125px;
    background-color: $c-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
        list-style-type: none;
        overflow: hidden;
        li{
            float: left;
            
            a{
                display: block;
                text-align: center;
                padding: 16px;
                text-decoration: none;
                color: $c-secondary;
            }

        }
    }
    .navbar-brand{
        display: flex;
        background-color: $c-secondary;
        color: $c-primary;
        height: 125px;
        width: 125px;
        justify-content: center;
        align-items: center;
        font-size: $fz-xxl;
    }
}
