.content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    height: calc(100vh - 125px);
    @media (max-width: 1200px) {
        flex-direction: column;
    }
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article{
    margin-left: $margin-l ;
    margin-right: 20%;
    margin-top: 50px;
    p {
        line-height: 1.5;
        margin-right: 40%;
    }
}
img{
    height: 100%;
}
